

<%= link_to "Edit", edit_recipe_path %>
<%= link_to "Delete", recipe_path, method: :delete, data: {confirm: 'Are you sure you want to delete this recipe?'} %>

<div class="recipe">
  <h3><%= @recipe.title %></h3>
  <h4><%= @recipe.cook_time %> minutes</h4>
  <p><%= @recipe.description %></p>
</div>

<ul>
  <% @recipe.data.each do |data| %>

  <li><%= data.quantity %> <%= data.unit %> <%= data.ingredient.name %></li>

  <% end %>
</ul>

<ol>
  <% @recipe.steps.each do |step| %>
  <li><%= step.directions %></li>
  <% end %>
</ol>
