<%= form_for ([@recipe, @step]), html: {class: "form-inline"} do |f| %>

<div class="form-group">
  <%= f.label :order %>
  <%= f.number_field :order %>
</div>

<div class="form-group">
  <%= f.label :directions %>
  <%= f.text_area :directions, class: "form-control"%>
</div>

<%= f.submit %>

<% end %>
