<!DOCTYPE html>
<html>
  <head>
    <title>RecipeBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Recipe Box", root_path %></h1>
      <h3>A place to store all of your favorite recipes</h3>
      <nav>
        <%= link_to "Add Recipe", new_recipe_path %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
